.card {
  width: 175px;
  font-size: 12px;
  position: relative;
  /* display: flex; */
  /* flex-direction:column */
}
main {
  width: 100%;
}
.nav {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.group-image {
  width: 90%;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: large;
  padding: 20px;
  font-family: sans-serif;
}
.card--image {
  width: 100%;
  border-radius: 9px;
  height: 250px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}
/* ADD */
.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

.card--title {
  font-size: 15px;
}

.card--price {
  font-weight: bold;
}

.gray {
  color: gray;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Media Query for Mobile View */
@media (max-width: 767px) {
  .heading {
    font-size: 100%;
  }
  .card {
    width: 100%;
  }
  .header {
    width: 95%;
    padding: 20px;
  }
  .group-image {
    width: 95%;
  }
  main {
    width: 95%;
  }

  .card-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    flex-wrap: wrap;
  }

  .card--image {
    width: 80%;
    height: auto;
  }
}
/* Media Query for laptop View */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
  .header {
    width: 95%;
    padding: 20px;
  }
  .group-image {
    width: 95%;
  }
  .card-section {
    padding: 3%;
    width: 90%;
    max-width: 425px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card--image {
    /* width:40%; */
    width: 175px;
  }
}
